<div class="container">
    <footer class="footer">
        <small>
            CopyRight &copy; <a href="https://www.udemy.com">The courses on Udemy</a>
        </small>
        <nav>
            <ul>
                <li> <%= link_to "About", about_path %></link_to> </li>
            </ul>
        </nav>
    </footer>
</div>
